.postBox {
  width: 400px;
  height: 700px;
  border: 2px black solid;
  margin: 10px;
}
.postBox > p,
h4 {
  padding: 10px;
}
.btn-comments {
  margin-left: 10px;
}
.postImg {
  width: 100%;
  height: 50%;
}
